.nav-bar {
    display: flex;
    width: 100%;

    .home-button {
        button {
            width: 40px;
            height: 40px;
            min-width: 38px !important;
            padding: 5%;
            border-radius: 0px;
        }
    }

    .blanck {
        justify-self: 60%;
        flex-grow: 10;

        button {
            height: 40px;
            width: 40px;
            min-width: 38px !important;
            padding: 0px !important;
            border-radius: 0px;
        }
    }

    .user-settings {
        float: right;

        button {
            height: 40px;
            border-radius: 10px;
            border: 1px;
            margin: 0%;
        }
    }
}