.nav-bar {
    display: flex;
    width: 100%;

    .home-button {
        justify-content: flex-start;

        button {
            width: 40px;
            height: 40px;
            min-width: 38px !important;
            padding: 0px !important;
        }
    }

    .blanck {
        justify-self: 60%;
        flex-grow: 10;

        button {
            height: 40px;
        }
    }

    .user-settings {
        float: right;

        button {
            height: 40px;
        }
    }
}