<mat-dialog-content class="dialog">
    <h1 class="forgot-password-title" mat-dialog-title>Forgot Password</h1>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
        <br>
        <mat-form-field class="forgot-password-field">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" required>
        </mat-form-field>
        <br><br>
        <div class="dialog-buttons">
            <button mat-button color="accent" type="submit">Forgot Password</button>
        </div>
    </form>
</mat-dialog-content>