.dialog {
    min-width: 250px;
    max-width: 500px;
    width: 100%;

    .dialog-buttons {
        display: flex;
        justify-content: space-between;
        width: auto;
    }
    
    .forgot-password-title {
        color: #005cbb;
        font-size: xx-large;
        padding-left: 0;
    }
    
    .forgot-password-field {
        width: 100%;
    }
}