.dialog {
    min-width: 250px;
    max-width: 500px;
    width: 100%;

    .dialog-buttons {
        display: flex;
        justify-content: space-between;
        width: auto;
    }
    
    .login-title {
        color: #3f51b5;
        text-align: center;
        font-size: xx-large;
    }
    
    .login-field {
        width: 100%;
    }
}