/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

$my-material-app-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
  display: none;
}

:root {
  @include mat.all-component-themes($my-material-app-theme);
}