<mat-dialog-content class="dialog">
    <h1 class="reset-password-field" mat-dialog-title>Forgot Password</h1>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
        <br>
        <mat-form-field class="reset-password-field">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" required>
        </mat-form-field>
        <mat-form-field class="reset-password-field" hintLabel="Length shold be between - 6 and 25">
            <mat-label>Password</mat-label>
            <input matInput #pinput minlength="6" maxlength="25" type="password" formControlName="oldPassword" [type]="ophide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="ophide = !ophide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="ophide">
                <mat-icon>{{ophide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="reset-password-field" hintLabel="Length shold be between - 6 and 25">
            <mat-label>Password</mat-label>
            <input matInput #pinput minlength="6" maxlength="25" type="password" formControlName="newPassword" [type]="phide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="phide = !phide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="phide">
                <mat-icon>{{phide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="reset-password-field" hintLabel="Length shold be between - 6 and 25">
            <mat-label>Password</mat-label>
            <input matInput #pinput minlength="6" maxlength="25" type="password" formControlName="retypepassword" [type]="rphide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="rphide = !rphide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="rphide">
                <mat-icon>{{rphide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br><br>
        <div class="dialog-buttons">
            <button mat-button color="accent" type="submit">Reset Password</button>
        </div>
        
    </form>
</mat-dialog-content>